games/2048/__pycache__/__init__.cpython-311.pyc
games/battleship/__pycache__/__init__.cpython-311.pyc
games/box_pusher/__pycache__/__init__.cpython-311.pyc
games/checkers/__pycache__/__init__.cpython-311.pyc
games/chess/__pycache__/__init__.cpython-311.pyc
games/connect_four/__pycache__/__init__.cpython-311.pyc
games/dots_and_boxes/__pycache__/__init__.cpython-311.pyc
games/minesweeper/__pycache__/__init__.cpython-311.pyc
games/sudoku/__pycache__/__init__.cpython-311.pyc
games/tictactoe/__pycache__/__init__.cpython-311.pyc
games/world/__pycache__/__init__.cpython-311.pyc
__pycache__/custom_typing.cpython-311.pyc
__pycache__/lib.cpython-311.pyc